<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="autofac" type="Autofac.Configuration.SectionHandler,Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="AutofacDemo2">
    <components>
      <component type="AutofacDemo2.Worker,AutofacDemo2" service="AutofacDemo2.IPerson"/>
      <component type="AutofacDemo2.LogConsole,AutofacDemo2" service="AutofacDemo2.ILog"/>
    </components>
  </autofac>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>